# Dependencias de Node (archivos pesados que se reinstalan al clonar)
/node_modules

# Archivo de entorno (¡CRUCIAL para la seguridad!)
# Contiene la MONGO_URI, SECRET, etc.
.env

# Archivos de log
npm-debug.loggit add .